<%= link_to 'Back to Main Menu', root_path %>
<br/>
<br/>
<br/>
<br/>
<br/>
<%= link_to 'View Daily p/l', {controller: 'pnl', action: 'daily', year: @latest_pnl_date.year, month: @latest_pnl_date.month}, method: :get %>
<br/>
<br/>
<br/>
<%= link_to 'View Monthly p/l', {controller: 'pnl', action: 'monthly', year: @latest_pnl_date.year}, method: :get %>
<br/>
<br/>
<br/>
<%= link_to 'View Yearly p/l', {controller: 'pnl', action: 'yearly'}, method: :get %>
<br/>
<br/>
<br/>
<%= button_to "Manually retrieve balances and calculate p/l for today#{@latest_balance_date == Date.today ? ' (Already ran today)' : ''}", {controller: 'pnl', action: 'fetch'}, method: :get, disabled: @latest_balance_date == Date.today%>
<br/>
<br/>
<p id="notice"><%= notice %></p>
