<%= link_to 'Back to Main Menu', root_path %>

<br/>
<br/>

<%= link_to 'Back to P/L Dashboard', '/pnl' %>

<br/>
<br/>

<%= form_tag '/pnl/monthly', :method => 'get' do %>
  Year: <%= select_tag 'year', options_for_select(@years, @year)%>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= submit_tag 'Go' %>
<% end %>

<br/>
<br/>

<div>
  <div class="left-header-table-container">
    <table>
      <thead>
      <tr>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @rows.each do |row| %>
        <tr>
          <td><%= row['player'].real_name %> (<%= row['player'].username %>)</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="right-header-table-container">
    <table>
      <thead>
      <tr>
        <% @headers.each do |header| %>
          <th><%= header.strftime('%B %Y') %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @rows.each do |row| %>
        <tr>
          <% @headers.each do |header| %>
            <td class="<%= row[header.strftime('%m')]['amount'] > 0 ? 'green-bg' : (row[header.strftime('%m')]['amount'] < 0 ? 'red-bg' : '') %>"><%= row[header.strftime('%m')]['amount'] %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div>&nbsp;</div>
