<h2>Rick's Mavens Dashboard</h2>

<%= button_to 'P/L Dashboard', '/pnl', method: :get, class: 'ui green button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'Make transfer', '/pnl/transfer', method: :get, class: 'ui green button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'View/Edit Players', '/players', method: :get, class: 'ui green button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'Sync From Mavens', '/sync', method: :get, class: 'ui orange button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'Prepare Pairings', '/pairings', method: :get, class: 'ui red button small' %>
