<p id="notice"><%= notice %></p>

<%= link_to 'Back to Main Menu', root_path %>

<h1>Players</h1>
<br>

<%= form_tag 'players/update_all' do %>
  <table>
    <thead>
      <tr>
        <th>Real name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Going to game</th>
        <th>Restricted</th>
        <th>Limit</th>
        <th>Friends</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
        <% @players.sort { |a, b|  a.real_name.upcase <=> b.real_name.upcase }.each do |player| %>
          <%= fields_for 'players[]', player do |p| %>
            <tr>
              <td><%= player.real_name %></td>
              <td><%= player.username %></td>
              <td><%= player.email %></td>
              <td><%= p.check_box :going_to_game %></td>
              <td><%= p.check_box :restricted %></td>
              <td><%= p.number_field :limit %></td>
              <td><%= player.friends.map{|f| f.real_name}.join(', ') %></td>
              <td><%= link_to 'Show', player %></td>
              <td><%= link_to 'Edit', edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>

  <br>
  <%= submit_tag 'Submit Changes', class: 'ui primary button' %>
<% end %>
<br>
<%= form_tag 'players/deselect_all' do %>
  <%= submit_tag 'Deselect All and Save', class: 'ui orange button' %>
<% end %>
